/*Custom Propérties*/
:root{
    --primer-color: #900C3F;
    --primer-alpha-color: rgba(144, 12, 63 , 0.75);
    --segundo-color: #93EAC7;
    --segundo-alpha-color:rgba(20, 25, 45, 1);
    --tercer-color:#AB1374;
    --tercer-alpha-color:rgba(80, 20, 100, 1);
    --blanco-color: #fff;
    --gris-claro-color: #f3f3f3;
    --gris-color: #ccc;
    --gris-oscuro-color: #666;
    --negro-color: #000;
    --link-color: #509EE3;
    --titulo-color: #333;
    --texto-color:#222;
    --blanco-alpha-color: rgba(255, 255, 255, 0.5);
    --negro-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
    
}

/*Reset*/
html{
    box-sizing: border-box;
    font-family:var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin:0;
    overflow-x: hidden;
    color:var(--texto-color);
}

a{
    color:var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover{
    opacity: 0.75;
}

h1{
    margin:0;
    font-size: 2rem;
}

h2{
    margin:0;
    font-size: 1.5rem;
}

h3{
    margin:0;
    font-size: 1.25rem;
}

h4{
    margin:0;
    font-size: 1rem;
}

h5{
    margin:0;
    font-size: 0.85rem;
}

h6{
    margin:0;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.66;
}

/*Components*/

/*Hero image*/
.hero-image{
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title{
    font-size: 7.5vw;
    color: var(--hero-text-color);
}

/*Menu*/
.menu-btn{
    outline: thin solid var(--primer-color);
    border: 0;
    cursor: pointer;
    background-color: var(--segundo-color);
}

.menu-btn svg{
    fill: var(--primer-color);
}

.menu{
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--segundo-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu a{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--primer-color);
}

.menu a:hover{
    color: var(--blanco-color);
    background-color:var(--primer-color) ;
}

@media screen and (min-width: 1024px) {
    .menu-btn{
        display: none;
    }

.menu{
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
}

.menu a{
    padding: 0 1rem;
}

.menu a:hover{
    background-color: transparent;
}

}

/*Modal*/
.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content{
    position: relative;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg{
    width: 3rem;
    height: 3rem;
    fill: var(--primer-color);
}

.modal[id|="trabajo"]:target{
    opacity: 1;
    pointer-events: auto;
}

/*Utilities*/
.box-shadow-1{
   box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn{
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--blanco-color);
    background-color: var(--primer-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.gray-scale{
    filter: grayscale(1);
}

.none{
    display: none;
}

.section{
    padding: 2rem 1rem;
}

.section-title{
    border-top: thin solid var(--primer-color);
    border-bottom: thin solid var(--primer-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--titulo-color);
}

@media screen and (min-width: 1024px) {
    .full-lg-screen{
        width: 100%;
        min-height: 100vh;
    }

    .text-lg-center{
        text-align: center;
    }

    .text-lg-left{
        text-align: left;
    }

    .text-lg-right{
        text-align: right;
    }
}

/*Site Styles*/
.about>article{
    margin-bottom: 2rem;
}

.contact-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-card > svg{
    width: 2rem;
    height: 2rem;
    fill: var(--primer-color);
}

.contact-card > small{
    margin-top: -1rem;
}

.footer{
    margin-bottom: var(--header-height);
    padding: 0.5rem;
    text-align: center;
    color: var(--blanco-color);
    background-color: var(--tercer-color);
}

.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--segundo-color);
}

.header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primer-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.portfolio-card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portfolio-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--primer-alpha-color);
    color: var(--blanco-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > div{
    padding: 1rem;
    border: thin solid var(--blanco-color);
    width: 100%;
    height: 100%;
}

.portfolio-modal{
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco-color);
}

.portfolio-modal h3{
    border-bottom: medium solid var(--primer-color);
    margin: 1rem auto;
    padding: 0.5rem 0; 
    color: var(--titulo-color);
}

.social-media a{
    padding: 0 0.4rem;
    text-decoration: none;
}

.social-media svg{
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 768px) {
    .contact-cards{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .portfolio > .container{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    .portfolio .section-title{
        grid-column: span 2;
    }
    
    .portfolio-modal{
        max-width: 800px;
        flex-direction: row;
    }

    .portfolio-info{
        margin-left: 1rem;
        align-self: center;
    }
}

@media screen and (min-width: 1024px) {
    .about{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
    }
    
    .contact-cards{
        grid-template-columns: repeat(4, 24%);
    }

    .footer{
        margin-bottom: 0;
    }

    .header{
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height)-0.5rem);
    }

    .portfolio > .container{
        grid-template-columns: repeat(3,1fr);
    }
    .portfolio .section-title{
        grid-column: span 3;
    }
}